/* Color Variables */
/* Font Variables */
/* Transitions */
/* Accommodations Section Styles */
.accommodations {
  background: #f1f2f2;
  padding: 68px 0 60px;
  text-align: center;
}
@media (min-width: 768px) {
  .accommodations h1, .accommodations p {
    text-align: left;
  }
}
.accommodations h1 {
  color: #979fa4;
  font-family: "gotham_bold", sans-serif;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .accommodations h1 {
    font-size: 1.7rem;
  }
}
@media (min-width: 1200px) {
  .accommodations h1 {
    font-size: 2.4rem;
  }
}
.accommodations h4 {
  margin: 42px 0;
}
@media (min-width: 768px) {
  .accommodations h4 {
    margin-top: 0;
  }
}
.accommodations p {
  margin-bottom: 79px;
}
.accommodations img {
  box-shadow: 0 0 15px rgba(53, 53, 53, 0.3);
}

/* Booking Widget Section Stylings */
.booking-widget {
  margin: 15px;
}
.booking-widget .btn-tab {
  background: transparent;
  border: 2px solid #e21f25;
  border-radius: 4px;
  color: #e21f25;
  display: block;
  margin: 0 auto;
  padding: 9px 12px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .booking-widget .btn-tab {
    background-color: #000;
    border: none;
    border-radius: 0;
    color: #fff;
    position: absolute;
    right: 0;
    top: -275px;
  }
}
@media (min-width: 992px) {
  .booking-widget .btn-tab {
    top: -350px;
  }
}
@media (min-width: 1200px) {
  .booking-widget .btn-tab {
    right: -38px;
    top: -375px;
    transform: rotate(-90deg);
  }
}

.modal.right .modal-dialog {
  height: auto;
  margin: auto;
  position: fixed;
  transform: translate3d(0%, 0, 0);
  width: 370px;
}
.modal.right .modal-dialog .booking-tab {
  background-color: #000;
  color: #fff;
  display: inline-block;
  left: -34px;
  padding: 9px 12px;
  position: absolute;
  text-transform: uppercase;
  top: 162px;
  transform: rotate(-90deg);
}
.modal.right .modal-content {
  background-color: #1e1e1e;
  color: #fff;
  height: 100%;
  margin-left: 40px;
  overflow-y: auto;
  width: 330px;
}
.modal.right .modal-header {
  border-bottom: none;
}
.modal.right .modal-header .close {
  color: #e21f25;
  opacity: 1;
  text-shadow: none;
  transition: ease color 0.2s;
}
.modal.right .modal-header .close:hover {
  color: #fff;
}
.modal.right .modal-body {
  padding: 15px 56px 36px;
}
.modal.right .modal-body h1 {
  font-family: "gotham_bold", sans-serif;
  font-size: 2.173rem;
  margin-bottom: 62px;
  text-align: center;
}
.modal.right .modal-body p {
  color: #979fa4;
  font-family: "bodoni", serif;
  margin: 40px 0;
  text-align: center;
}
.modal.right .modal-body .btn-primary {
  display: block;
  margin: 0 auto 66px;
}
.modal.right .modal-body .book-group {
  color: #979fa4;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  transition: ease color 0.2s;
}
.modal.right .modal-body .book-group:hover {
  color: #e21f25;
  text-decoration: none;
}
.modal.right .modal-body .book-group img {
  width: 25px;
}
.modal.right .modal-body .calendar-icon {
  position: absolute;
  right: 20px;
  top: 9px;
}
.modal.right .modal-body .form-control {
  font-family: "gotham_book", sans-serif;
  font-size: 0.857rem;
}
.modal.right .modal-body label {
  text-transform: uppercase;
}
.modal.right .modal-body label.error {
  background-color: #ff0000;
  color: #fff;
  padding: 2px 0;
  text-align: center;
  text-transform: none;
  width: 100%;
}
.modal.right.fade .modal-dialog {
  right: -370px;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.show .modal-dialog {
  right: 0px;
}

/* Banner Section Stylings */
@media (min-width: 768px) {
  .banner .carousel {
    position: absolute;
    top: 0;
    z-index: 0;
  }
}
.banner .carousel .carousel-item.active,
.banner .carousel .carousel-item-next,
.banner .carousel .carousel-item-prev {
  display: block;
}
.banner .carousel .carousel-control-next-icon,
.banner .carousel .carousel-control-prev-icon {
  height: 30px;
  width: 30px;
}
@media (min-width: 1200px) {
  .banner .carousel .carousel-control-next-icon,
  .banner .carousel .carousel-control-prev-icon {
    height: 60px;
    width: 60px;
  }
}
.banner .carousel .carousel-control-next-icon {
  background-image: url("images/carousel/next-icon.svg");
}
.banner .carousel .carousel-control-prev-icon {
  background-image: url("images/carousel/prev-icon.svg");
}

/* Events Section Styles */
.events {
  background-color: #fff;
  text-align: center;
  padding: 52px 0 75px;
}
.events h4 {
  margin-bottom: 42px;
}
.events .event {
  background-size: cover;
  box-shadow: 0 0 15px rgba(53, 53, 53, 0.3);
  height: 175px;
  margin-bottom: 30px;
  position: relative;
}
@media (min-width: 768px) {
  .events .event {
    margin-bottom: 0;
  }
}
.events .event.event-1 {
  background-image: url("images/events/event1.jpg");
}
.events .event.event-2 {
  background-image: url("images/events/event2.jpg");
}
.events .event.event-3 {
  background-image: url("images/events/event3.jpg");
}
@media (min-width: 576px) {
  .events .event.event-3 {
    margin-bottom: 0;
  }
}
.events .event.event-4 {
  background-image: url("images/events/event4.jpg");
  margin-bottom: 0;
}
.events .event .event__date {
  background: #282930;
  color: #fff;
  left: 0;
  line-height: 1;
  padding: 9px 28px 0 12px;
  position: absolute;
  transition: ease background-color 0.2s;
}
.events .event .event__date:hover {
  background-color: #e21f25;
  text-decoration: none;
}
.events .event .event__date .event-day {
  font-family: "gotham_bold", sans-serif;
  font-size: 3.5rem;
}
.events .event .event__date .event-month {
  font-family: "gotham_book", sans-serif;
  font-size: 1rem;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}

/* Footer Styles */
footer {
  background: #f1f2f2;
  font-family: "gotham_medium", sans-serif;
  padding: 19px 0;
}
footer span {
  font-size: 1.143rem;
  padding: 0 5px;
}
footer a {
  color: #000;
  transition: ease color 0.2s;
}
footer a:hover {
  color: #e21f25;
  text-decoration: none;
}
@media (min-width: 768px) {
  footer .footer-sm {
    display: none;
  }
}
@media (max-width: 767.98px) {
  footer .footer-lg {
    display: none;
  }
}

/* Header Stylings */
header {
  background: #000;
}
@media (min-width: 768px) {
  header {
    padding-top: 46px;
  }
}
header .container-fluid {
  background: rgba(255, 255, 255, 0.9);
  font-size: 0.786rem;
  max-width: 1080px;
  padding: 48px 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
@media (min-width: 576px) {
  header .container-fluid {
    padding: 94px 15px 48px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  header .container-fluid {
    margin-top: 46px;
    padding: 48px 15px;
  }
}
header .container-fluid div {
  margin: 0 auto;
}
header .container-fluid img {
  margin-top: 15px;
}
@media (min-width: 576px) {
  header .container-fluid img {
    height: 200px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Universal Stylings */
body {
  background: #000;
  color: #000;
  font-family: "gotham_book", sans-serif;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

.main-body {
  padding: 0;
}

h1 {
  text-transform: uppercase;
}

h4 {
  font-size: 1.214rem;
  text-transform: uppercase;
}

.btn-primary {
  background: transparent;
  border: 2px solid #e21f25;
  border-radius: 4px;
  color: #e21f25;
  padding: 9px 12px;
  text-transform: uppercase;
}
.btn-primary:hover {
  background: #e21f25;
  border: 2px solid #e21f25;
  color: #fff;
}

/* Tagline Section Styles */
.tagline {
  color: #fff;
  font-family: "Arial", sans-serif;
  text-align: center;
}
.tagline h1, .tagline h2 {
  font-family: "bodoni", serif;
}
.tagline h1 {
  font-size: 2rem;
}
@media (min-width: 1200px) {
  .tagline h1 {
    font-size: 2.5rem;
  }
}
.tagline h2 {
  font-size: 1.7rem;
}
@media (min-width: 1200px) {
  .tagline h2 {
    font-size: 2rem;
  }
}
.tagline .container {
  background: #000;
}
@media (min-width: 768px) {
  .tagline .container {
    margin-top: 90px;
  }
}
@media (min-width: 992px) {
  .tagline .container {
    margin-top: 172px;
  }
}
@media (min-width: 1200px) {
  .tagline .container {
    margin-top: 300px;
  }
}
.tagline .tagline__title {
  border-top: 5px solid #fff;
  margin-bottom: 42px;
  padding-top: 37px;
}
.tagline .tagline__body {
  margin-bottom: 110px;
}
